body {
    background-position: center;
    font-family: sans-serif;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

.banner {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.banner img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

nav {
    background-color: lightgrey;
    padding: 15px;
    position: sticky;
    top: 0px;
}

nav ul {
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

nav li {
    width: 25%;
    display: inline-block;
    font-size: 30px;
}

nav li a {
    color: black;
}

.contact img {
    height: 60px;
    width: 60px;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
}

h2 {
    color: brown;
    font-size: 35px;
    text-align: center;
    padding: 0%;
}

h3 {
    color: orange;
    font-size: 30px;
    text-align: center;
    padding: 0%;
}

nav li a:hover {
    text-decoration: underline;
    background-color: pink;
    padding: 3px;
}

.menuList ul {
    list-style: none;
    width: 500px;
}

.menuList button {
    width: 300px;
    background-color: hsl(170, 100%, 50%);
    font-size: large;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    position: relative;
    cursor: pointer;
    display: block;
    margin: 5px 0;
    box-shadow: -2px 5px 3px #222;
    margin: auto;
}

.cart ul {
    list-style: none;
    width: 500px;
}

.cart ul li {
    width: 300px;
    background-color: hsl(170, 100%, 50%);
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    position: relative;
    cursor: pointer;
    display: block;
    margin: 5px 0;
    box-shadow: -2px 5px 3px #222;
    transition: 0.5s linear;
    margin: auto;
}

.cart ul li span {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    text-align: center;
    background-color: hsl(49, 61%, 50%);
}

.submit button {
    font-family: sans-serif;
    font-size: 20px;
    background-color: DarkSalmon;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    display: block;
    margin: auto;
}

.submit button:hover {
    background-color: cyan;
    color: black;
}

@media screen and (max-width:666px) {
    .banner .welcome {
        position: relative;
        padding: 1px;
        left: 0;
    }
    .banner .welcome span {
        font-size: 1em;
        background-color: #f0c680;
    }
    .images li {
        width: 100%;
        margin: 20px auto;
        display: block;
    }
}

@media screen and (max-width:666px) {
    .banner .welcome {
        position: relative;
        padding: 1px;
        left: 0;
    }
    .banner .welcome span {
        font-size: 0.8em;
        background-color: #f0c680;
    }
}

@media screen and (max-width:550px) {
    nav li {
        font-size: 20px;
        display: block;
        width: 100%;
        margin: 12px 0;
    }
    header {
        position: relative;
    }
    nav {
        top: 0;
    }
}